<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css" />

    <title>LinQ</title>
  </head>

  <body>
    <!-- Just an image -->
    <span id="app">
      <nav
        class="navbar navbar-light bg-white"
        style="box-shadow:2px 0px 10px #00000025;position:fixed;width:100vw;"
      >
        <a class="navbar-brand" href="#">
          <img src="./ic_linq_logo.svg" width="75" height="20" alt="" />
        </a>
      </nav>
      <br />
      <div class="error-panel mt-5">
        <img class="error-image" src="./smile_face.svg" />
        <p class="error-message">
          Don't worry! Here are some simple ways to fix it
        </p>
      </div>

      <ul class="step-list">
        <li
          v-if="currentBrand!=''"
          class="step"
          v-for="step in brands[currentBrand].steps"
        >
          <!-- <div class="step_num">
          Step {{brands[currentBrand].steps.indexOf(step)+1}}
        </div> -->
          <div class="step_description">
            <a :href="step.deeplink" class="titleLink"
              ><span v-html="step.descriptionTitle"></span
            ></a>
            <span v-for="point in step.description"
              ><br /><span v-html="point"></span
            ></span>
          </div>
          <img
            class="mt-2"
            v-if="step.imageUrl"
            :src="step.imageUrl"
            :class="step.imageClass?'step_image_big':'step_image'"
          />

          <a
            v-if="step.deeplink"
            class="mt-3 m-1 p-1 text-center"
            style="background:#1da1f2;box-shadow:0px 5px 5px rgba(0,0,0,0.4);text-decoration: none;color:white;border-radius:8px;"
            :href="step.deeplink"
            ><strong>Do it Now</strong></a
          >
        </li>
      </ul>

      <h5 class="or_whatsapp text-center">
        <span>OR</span>
      </h5>

      <!-- <a style="text-decoration: none;" :href="whatsappUrl"> -->
      <button
        @click="sendWhatsappMessage"
        class="btn mt-3 mb-5 py-2 px-5 text-center whatsapp_button"
      >
        <img src="./whatsapp.png" height="25" width="25" alt="" class="mr-2" />
        Chat on WhatsApp
      </button>
      <!-- </a> -->
    </span>

    <footer class="footer bg-primary">
      <a class="navbar-brand text-white mx-5 p-2" href="#">
        Linq Copyright © 2019 | All Rights Reserved
      </a>
    </footer>

    <script>
      var app = new Vue({
        el: "#app",

        data: {
          currentBrand: "",
          brandName: "",
          brands: {
            xiaomi: {
              steps: [
                {
                  descriptionTitle: "Go to <strong>Linq Biz settings</strong>",
                  // "Allow <strong >Display pop-up windows while running in the background</strong>",
                  description: [
                    "-&nbsp; Click on ",
                    "<img class='inline_image' src='./xiaomi1.jpg'>",
                    "-&nbsp;Select <strong>Accept</strong>",
                    "<img class='inline_image' src='./xiaomi3.png'>"
                  ],
                  imageUrl: false,
                  deeplink:
                    "https://dl.mylinq.in/inappmsg?type=28&action=xiaomi_popup"
                },
                {
                  descriptionTitle:
                    "Go to <strong>Display over other apps</strong>",
                  description: [
                    "-&nbsp; Change off (<img src='./off.png' height='23'>) to on (<img src='./on.png' height='23'>)"
                  ],
                  imageUrl: false,
                  deeplink:
                    "https://dl.mylinq.in/inappmsg?type=28&action=draw_over_apps"
                },
                {
                  descriptionTitle: "Go to <strong>Auto Start</strong>",
                  description: [
                    "-&nbsp;Change off (<img src='./off.png' height='23'>) to on (<img src='./on.png' height='23'>) "
                  ],
                  imageUrl: false,
                  deeplink:
                    "https://dl.mylinq.in/inappmsg?type=28&action=auto_start"
                },
                {
                  descriptionTitle:
                    "Go to <strong>Battery Optimization</strong>",
                  description: [
                    "-&nbsp; Click on <strong>Not optimised</strong>",
                    "<img class='inline_image' src='./xiaomi4.jpg'>",
                    "-&nbsp;Select <strong>All apps</strong>",
                    "<img class='inline_image' src='./xiaomi5.png'>",
                    "-&nbsp; Search for <strong>Linq Biz</strong> and click on it",
                    "-&nbsp; Select <strong>Don’t Optimize</strong> and click <strong>Done</strong>",
                    "<img class='inline_image' src='./xiaomi6.png'>"
                  ],
                  imageUrl: false,
                  imageClass: "big",
                  deeplink:
                    "https://dl.mylinq.in/inappmsg?type=28&action=battery_optimization"
                }
              ]
            },
            samsung: {
              steps: [
                {
                  descriptionTitle:
                    "Go to <strong>Display over other apps</strong>",
                  description: [
                    "-&nbsp; Change off (<img src='./off.png' height='23'>) to on (<img src='./on.png' height='23'>)"
                  ],
                  imageUrl: false,
                  deeplink:
                    "https://dl.mylinq.in/inappmsg?type=28&action=draw_over_apps"
                },
                {
                  descriptionTitle:
                    "Go to <strong>Optimise Battery Usage</strong>",
                  description: [
                    "-&nbsp; Click on <strong>Apps not optimised</strong>",
                    "<img class='inline_image' src='./samsung1.jpg'>",
                    "-&nbsp; Select <strong>All apps</strong>",
                    "<img class='inline_image' src='./samsung2.jpg'>",
                    "-&nbsp; Search for <strong>Linq Biz</strong>",
                    "<img class='inline_image' src='./samsung3.jpg'>",
                    "-&nbsp; Change on (<img src='./on.png' height='23'>) to off (<img src='./off.png' height='23'>)"
                  ],
                  imageUrl: false,
                  deeplink:
                    "https://dl.mylinq.in/inappmsg?type=28&action=battery_optimization"
                }
              ]
            },
            oppo: {
              steps: [
                {
                  descriptionTitle:
                    "Go to <strong>Display over other apps</strong>",
                  description: [
                    "-&nbsp; Change off (<img src='./off.png' height='23'>) to on (<img src='./on.png' height='23'>)"
                  ],
                  imageUrl: false,
                  deeplink:
                    "https://dl.mylinq.in/inappmsg?type=28&action=draw_over_apps"
                },
                {
                  descriptionTitle: "Go to <strong>Auto Start</strong> ",
                  description: [
                    "-&nbsp; Change off (<img src='./off.png' height='23'>) to on (<img src='./on.png' height='23'>)"
                  ],
                  imageUrl: false,
                  deeplink:
                    "https://dl.mylinq.in/inappmsg?type=28&action=auto_start"
                },
                {
                  descriptionTitle:
                    "Go to <strong>Battery Optimization</strong>",
                  description: [
                    "-&nbsp; Click on <strong>Not allowed</strong>",
                    "<img class='inline_image' src='./oppo3.jpg'>",
                    "-&nbsp; Select <strong>All apps</strong>",
                    "<img class='inline_image' src='./oppo2.jpg'>",
                    "-&nbsp; Search for <strong>Linq Biz</strong> and click on it ",
                    "<img class='inline_image' src='./inline.png'>",
                    "-&nbsp; Select <strong>Don’t allow</strong> and click <strong>OK / Done</strong>",
                    "<img class='inline_image' src='./oppo1.png'>"
                  ],
                  imageUrl: false,
                  imageClass: "big",
                  deeplink:
                    "https://dl.mylinq.in/inappmsg?type=28&action=battery_optimization"
                }
              ]
            }
          }
        },
        methods: {
          getQueryStringValue: function(key) {
            return decodeURIComponent(
              window.location.search.replace(
                new RegExp(
                  "^(?:.*[&\\?]" +
                    encodeURIComponent(key).replace(/[\.\+\*]/g, "\\$&") +
                    "(?:\\=([^&]*))?)?.*$",
                  "i"
                ),
                "$1"
              )
            );
          },
          sendWhatsappMessage: function() {
            window.location.href = `https://api.whatsapp.com/send?phone=917836811111&text=Help!%20Auto%20Reply%20stopped%20working%20on%20my%20${this.brandName
              .charAt(0)
              .toUpperCase() + this.brandName.slice(1)}%20phone%20%F0%9F%99%81`;
          }
        },
        created() {
          this.currentBrand = this.getQueryStringValue("brand").toLowerCase();
          this.brandName = this.currentBrand;
          switch (this.currentBrand) {
            case "vivo":
              this.currentBrand = "oppo";
              break;
            case "oneplus":
              this.currentBrand = "samsung";
              break;
            case "samsung":
              break;
            case "xiaomi":
              break;
            case "oppo":
              break;
            default:
              this.currentBrand = "oppo";
              break;
          }
        }
      });
    </script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
