@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
body {
  font-family: "Lato", sans-serif;
}
ul {
  padding: 0px 0px 0px 0px !important;
  margin-bottom: 50px;
}

.error-panel {
  width: 100vw;
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
}
.error-message {
  margin-top: 10px;
}

.error-image {
  height: 15vh;
}

.step {
  padding: 5px 8px;
  border-radius: 8px;
  border: 0.5px solid rgba(255, 255, 255, 0.185);
  margin: 25px 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.295);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.step_num {
  font-weight: 700;
  font-size: 22px;
  margin-right: 5px;
  min-width: 50px;
}
.step_image {
  border-radius: 2px;
  width: 100%;
  object-fit: cover;
  height: auto;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.295);
}
.step_description {
  margin-left: 8px;
  font-size: 14px;
}
strong {
  font-size: 16px;
}

.step_image_big {
  margin-left: 15%;
  width: 75%;
  height: 140px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.295);
}

@media screen and (max-width: 786px) {
  .footer > a {
    font-size: 12px !important;
    margin: 0;
  }
  .footer {
    text-align: center;
  }
}

footer {
  box-shadow: -5px 0px 10px #0682e7cb;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
